.hojaVida{
    display: grid;
    grid-template-areas: "cabecera cabecera"
     "contenido contenido"
     "piePagina piePagina";
     grid-template-columns: 50% 50%;
     grid-template-rows: 90px (100vh-180px) 90px;
}

.hojaVida header{
    grid-area: cabecera;
}

.hojaVida article{
    grid-area: contenido;
}

.hojaVida footer{
    grid-area: piePagina;
}

.hojaVida header ,
.hojaVida footer{
    width: 100%;
    background-color: #2655d49a;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hojaVida article{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hojaVida article img{
    border: 5px solid #2655d49a ;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.hojaVida article h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Abril Fatface', cursive;
    background-color: #2655d49a;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.hojaVida article h2{
    font-family: 'Russo One', sans-serif;
}

.hojaVida article h2{
    border: 2px solid black;
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
}


.hojaVida article .nombre {
    color: rgb(0, 0, 0);
    font-size: 35px;
    width: 100%;
    text-align: center;
}

.hojaVida article .nombre:hover{
    color: rgb(165, 24, 24);
    font-size: 45px;
    cursor: pointer;
    box-shadow: auto;
}

.hojaVida article p{
    font-family: 'Oswald', sans-serif;
}

.hojaVida article p{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.hojaVida header h1{
    font-family: 'Russo One', sans-serif;
}

.hojaVida header h1{
    font-size: 50px;
}

.hojaVida header h1:hover{
    color: rgb(165, 24, 24);
    font-size: 70px;
    cursor: pointer;
    text-shadow: 30px 10px 30px 10px;
}

.hojaVida footer{
    font-family: 'Oswald', sans-serif;
}

.hojaVida footer{
    font-size: 15px;
}
